body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background-image: url(./image/Ithaa-Maldives.jpg);
    background-repeat: no-repeat;
}

.header h1{
    display: inline-block;
    text-align: center;
    margin-left: 40%;
    margin-top: 0%;
}
.log{
    display: inline-block;
    word-spacing: 7px;
    margin-left: 90%;
    margin-top: 20px;
    text-decoration: none;
}
.log a{
    text-decoration: none;
    color: white;   
}
.log a:hover{
    background-color: rgb(199, 34, 19);
    border-radius: 10px;
padding: 3px 7px;
}
.container ul{
    display: flex;
    padding-left: 5%;
    font-family:inherit;
    
}
.container ul li {
    width: 250px;
    list-style: none;
    padding: 5px;
    box-sizing: border-box;
    
}
.container ul li a{
    padding: 7px 70px;
    box-sizing: border-box;
    background-color:rgb(247, 195, 25);
    text-decoration: none;
    color: black;
    font-weight: 550;
}

.container ul li a:hover{
    background-color: rgb(220, 235, 235);
}
.main img{
    position: relative;
    margin-left: 70px;
    width: 60%;
    margin-top: 30px;
}
.main h2{
    position: absolute;
    margin-left: 15%;
    top: 40%;
    background-color:rgb(247, 195, 25);
    
}
.main h5{
    position: absolute;
    margin-left: 15%;
    top: 47%;
    background-color:rgb(247, 195, 25);
    
}
.price{
    position: absolute;
    background-color:rgb(247, 195, 25);
    width: 20vw;
    height: 20vh;
    margin-left: 70%;
    top: 30%;
}
.price h1{
    text-align: center;
    margin-top: 17%;
}
.price h5{
    left: 30%;
}
.price2{
    position: absolute;
    background-color:rgb(247, 195, 25);
    width: 20vw;
    height: 20vh;
    margin-left: 70%;
    top: 63%;
}
.price2 h1{
    text-align: center;
    margin-top: 17%;
}
.price2 h5{
    left: 23%;
}
.tacos{
    display: inline-block;
    background-color: white;
    box-sizing: border-box;
    border-radius: 7px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 20px;

    
}
.tacos img{
    padding: 5px;
    margin-left: 130px;
}
.tacos p{
    text-align: center;
}
.tacos h4{
    text-align: center;
}
